<div class="container">
    <div class="mc">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt iusto quae, quos nesciunt dignissimos in fuga tempore saepe eveniet mollitia distinctio provident nobis possimus id facilis. Dolorem illum maiores esse.</p>
    <button class="btn">send</button>
</div>
</div>