<main class="">

    <header class="">

        <div>
            <h1>Notas</h1>
            <h3>
                <em>Almacena tus notas</em>
            </h3>
            <a href="/signin">
            Let's start
            </a>
        </div>

    </header>

</main>