*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.inicio{
    text-align: center;
    margin: 40px;
    font-size: 40px;
    background-image: linear-gradient(
        -225deg,
        #ff13d4 0%,
        #382a88 29%,
        #ff13d4 67%,
        #382a88 100%
      );
      border-radius: 8px;
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      animation: textclip 6s linear infinite;
      display: inline-block;
    }
    
    @keyframes textclip {
      to {
        background-position: -100% center;
      }
    
}

html{
    background-image: url(/css/img/4931029.jpg);
    
}

/* Navbar */

header{
    width: 100%;
    height: 80px;
    background-color: #451952;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    margin-bottom: 40px;
}

.container-nav-bar {
    display: flex;
}

.logo{
    width: 60px;
    height: 60px;
}

.container-marca {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marca {
    color: white;
}

.bars{
    display: none;
}

.navigator ul{
    display: flex;
}

.navigator ul li a{
    display: block;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 15px;
    transition: 0.2s;
    margin: 0 5px;
}

.navigator ul li a:hover{
    background-image: linear-gradient(
        -225deg,
        #ff13d4,
        #382a88,
        #ff13d4,
        #382a88
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      animation: textclip 6s linear infinite;
      display: inline-block;
    }
    
    @keyframes textclip {
      to {
        background-position: -100% center;
      }
}

.navigator ul li a:active{
    background-image: linear-gradient(
        -225deg,
        #ff13d4 0%,
        #382a88 29%,
        #ff13d4 67%,
        #382a88 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      animation: textclip 6s linear infinite;
      display: inline-block;
    }
    
    @keyframes textclip {
      to {
        background-position: -100% center;
      }
}

/* Agregar notas y editar */


.contenedor-centrado {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 600px;
    border: 1px solid rgb(255, 255, 255);
    margin: auto;
    background-color: #451952;
    color: white;
    border-radius: 30px;
}


.seccion-2 {
    width: 65%;
    background-color: #ffffff;
    color: #e31ac2;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative; 
}

h3 {
    margin: 0;
    font-size: 2.0em;
}

.form-group {
    margin: 10px 0;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #451952;
    border-radius: 5px;
}

.textarea-add {
    width: 100%;
    padding: 10px;
    border: 2px solid #451952;
    border-radius: 5px;
}

.btn {
    background-color: #451952;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #e64de1;
    color: black;
}

.pie-pagina {
    position: absolute; 
    bottom: 10px;
    right: 15px;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}






.custom-card {
    background-color: #ffffff; 
    color: #451952; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #451952;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    padding: 10px 50px;
}

.custom-card-title {
    font-size: 2em; 
}

.custom-card-description {
    margin: 10px 20px; 
}

.custom-card-time {
    margin: 10px 20px;
}

.btn-container {
    width: 100%;
    display: flex;
}

.custom-btn {
    background-color: #451952; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    width: 100%;
    height: 30px;
    text-align: center;
    padding-top: 5px;
}

.custom-btn:hover {
    background-color: #e64de1; 
    color: black; 
}

.custom-text-center {
    text-align: center; 
}

.col-md-3 {
    width: auto;
}

/* Contenedor notas */

.row {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 20px;
}

.main-index {
    display: flex;
    justify-content: center;
}

.container-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container-index {
    display: flex;
    justify-content: center;
    width: 80vw;
    color: #451952;
    height: 100%;
    background-color:transparent;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.h1-index {
    font-weight: 900;
}

.h3-index {
    font-size: 100px;
    background-image: linear-gradient(
        -225deg,
        #ff13d4 0%,
        #382a88 29%,
        #ff13d4 67%,
        #382a88 100%
      );
      background-size: auto auto;
      background-clip: border-box;
      background-size: 200% auto;
      color: #fff;
      background-clip: text;
      animation: textclip 6s linear infinite;
      display: inline-block;
    }
    
    @keyframes textclip {
      to {
        background-position: -100% center;
      }

}

.a-index {
    font-size: 70px;
    
}

.a-index:hover {
    color: #e64de1;
}
/* List links */

.h1-list {
    padding-bottom: 40px;
}

.row-list {
    width: 90vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
}

.container-custom-card {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}

/* Sing in */

.card-header {
    display: flex;
    justify-content: center;
}

.png{
    width: 200px;
    height: 200px;
}

.gif {
    animation-fill-mode: none;
    width: 50px;
    height: 50px;
    margin-left: 30%;
}

.gif:hover {
    animation-play-state: running;
    cursor: pointer;
}
.checkbox-wrapper input[type="checkbox"] {
    visibility: hidden;
    display: none;
  }
  
  .checkbox-wrapper *,
    .checkbox-wrapper ::after,
    .checkbox-wrapper ::before {
    box-sizing: border-box;
    user-select: none;
  }
  
  .checkbox-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .checkbox-wrapper .label {
    cursor: pointer;
  }
  
  .checkbox-wrapper .check {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
  }
  
  .checkbox-wrapper .label svg {
    vertical-align: middle;
  }
  
  .checkbox-wrapper .path1 {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    transition: .5s stroke-dashoffset;
    opacity: 0;
  }
  
  .checkbox-wrapper .check:checked + label svg g path {
    stroke-dashoffset: 0;
    opacity: 1;
  }