

.pruebadiv{
    background-color: aqua;
    color: brown;
};

.mc{
    background-color: aqua;
    width: 500px;
    height: 500px;
}

.btn-especial{
    background-color: blueviolet;
    color: aliceblue;
};