<header>
  <div class="container-nav-bar">
    <div class="logo">
      <img src="/css/img/Pngp.png" alt="Logo" class="logo">
    </div>
    <div class="container-marca">
      <h1 class="marca">AppPerronaDeNotas</h1>
    </div>
  </div>

  <div class="bars">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <nav class="navigator">
    <ul>
      {{#if user}}
      <li>
        <a href="/" class="active">Home</a>
      </li>
      <li>
        <a href="/links" class="active">Notes</a>
      </li>
      <li>
        <a href="/links/add" class="active">Add Note</a>
      </li>
      <li>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>

      {{else}}

 

      <li>

        <a href="/signin" class="">Sign In</a>

      </li>

      <li>

        <a href="/signup" class="">Sign Up</a>

      </li>

      {{/if}}
      
    </ul>


  </nav>
</header>