<header>
  <div class="logo">Logo</div>
  <div class="bars">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>

  <nav class="navigator">
    <ul>
      <li>
        <a href="/" class="active">Home</a>
      </li>
      <li>
        <a href="/links" class="active">Notes</a>
      </li>
      <li>
        <a href="/links/add" class="active">Add Note</a>
      </li>
    </ul>


  </nav>
</header>